<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new car</title>
</head>
<body>
<form action="#" th:action="@{/cars/create}" th:object="${car}" method="post">
    <label for="make">Make</label>
    <input type="text" th:field="*{make}" id="make" placeholder="Make">
    <br/>
    <label for="model">Model</label>
    <input type="text" th:field="*{model}" id="model" placeholder="Model">
    <br/>
    <label for="horsePower">Horse power</label>
    <input type="text" th:field="*{horsePower}" id="horsePower" placeholder="Horse power">
    <br/>
    <label for="yearOfProduction">Year of production</label>
    <input type="text" th:field="*{yearOfProduction}" id="yearOfProduction" placeholder="Year of production">
    <br/>
    <label for="price">Price</label>
    <input type="text" th:field="*{price}" id="price" placeholder="Price">
    <br/>
    <label for="owners">Owners</label>
    <input type="number" th:field="*{owners}" id="owners" placeholder="Owners">
    <br/>
    <label for="acceleration">Acceleration</label>
    <input type="text" th:field="*{acceleration}" id="acceleration" placeholder="Acceleration">
    <br/>
    <input type="submit" value="Create car">
</form>
</body>
</html>